.sr-setting-toggle-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sr-setting-toggle-control:has(.toggle-root[data-disabled]) {
  cursor: not-allowed;
}

.sr-setting-toggle-control .toggle-root {
  flex-shrink: 0;
}
